{{define "title"}}
Management | {{index . "page-title"}}
{{end}}

{{define "header"}}
<link rel="stylesheet" href="dist/css/employee_style.css">
<link rel="stylesheet" href="plugins/jquery/jquery.datetimepicker.min.css">

{{end}}

{{define "content"}}
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">EMPLOYEE MANAGEMENT</h3>
                    </div>
                    <button id="add-emp-btn" type="button" class="btn btn-success add-emp-btn"><i
                            class="fas fa-plus-circle"></i> ADD
                        EMPLOYEE</button>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="employees_table" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Full name</th>
                                    <th>Phone number</th>
                                    <th>Email</th>
                                    <th>Department</th>
                                    <th>Operators</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- Modal -->
                <div id="emp-modal" class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Edit modal</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="emp-form">
                                    <div class="form-group">
                                        <input name="employee_id" type="hidden" class="form-control" id="employee_id"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="full_name">Full name</label>
                                        <input name="full_name" type="text" class="form-control" id="full_name"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select name="gender" id="gender" class="custom-select" required>
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input name="email" type="email" class="form-control" id="email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number">Phone number</label>
                                        <input name="phone_number" type="text" class="form-control" id="phone_number"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input name="address" type="text" class="form-control" id="address" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="job_title">Job title</label>
                                        <input name="job_title" type="text" class="form-control" id="job_title"
                                            required>
                                    </div>
                                </form>
                                <form id="emp_dep-form">
                                    <div class="form-group">
                                        <input name="employee_id" type="hidden" class="form-control" id="employee_id">
                                    </div>
                                    <div class="department-info">
                                        <div class="form-group">
                                            <label for="department_name">Department</label>
                                            <!-- <input type="text" class="form-control" id="department_name"> -->
                                            <select name="department_id" class="custom-select" id="department_name"
                                                required>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="effect_from">Effect from</label>
                                            <input name="effect_from" type="text" class="form-control" id="effect_from"
                                                required>
                                        </div>
                                    </div>
                                </form>
                                <form id="emp_dep-form-origin" style="display: none;">
                                    <div class="form-group">
                                        <input name="employee_id" type="hidden" class="form-control"
                                            id="employee_id-origin">
                                    </div>
                                    <div class="department-info">
                                        <div class="form-group">
                                            <label for="department_name">Department</label>
                                            <!-- <input type="text" class="form-control" id="department_name"> -->
                                            <select name="department_id" type="hidden" class="custom-select"
                                                id="department_name-origin" required>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="effect_from">Effect from</label>
                                            <input name="effect_from" type="hidden" type="text" class="form-control"
                                                id="effect_from-origin" required>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="close-btn" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button id="save-btn" type="button" class="btn btn-primary">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- detail modal -->
                <!-- Add Employee Modal -->
                <div id="add-emp-modal" class="modal fade" id="detailModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Add Employee</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form id="add-emp-form">
                                    <div class="form-group">
                                        <label for="full_name">Full name</label>
                                        <input name="full_name" type="text" class="form-control" id="input_full_name"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="gender">Gender</label>
                                        <select name="gender" id="input_gender" class="custom-select" required>
                                            <option value="Female">Female</option>
                                            <option value="Male">Male</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email address</label>
                                        <input name="email" type="email" class="form-control" id="input_email" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone_number">Phone number</label>
                                        <input name="phone_number" type="text" class="form-control"
                                            id="input_phone_number" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="address">Address</label>
                                        <input name="address" type="text" class="form-control" id="input_address"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="job_title">Job title</label>
                                        <input name="job_title" type="text" class="form-control" id="input_job_title"
                                            required>
                                    </div>
                                    <div class="form-group">
                                        <label for="department_name">Department</label>
                                        <!-- <input type="text" class="form-control" id="department_name"> -->
                                        <select name="department_id" class="custom-select" id="input_department_name"
                                            required>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="effect_from">Effect from</label>
                                        <input name="effect_from" type="text" class="form-control"
                                            id="input_effect_from" required>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button id="add-emp-close-btn" type="button" class="btn btn-secondary"
                                    data-dismiss="modal">Close</button>
                                <button id="submit-btn" type="button" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- detail modal -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
{{end}}

{{define "config"}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.4/umd/popper.min.js"
    integrity="sha512-7yA/d79yIhHPvcrSiB8S/7TyX0OxlccU8F/kuB8mHYjLlF1MInPbEohpoqfz0AILoq5hoD7lELZAYYHbyeEjag=="
    crossorigin="anonymous"></script>
<script src="plugins\jquery\jquery.datetimepicker.full.min.js"></script>
<!-- Working with APIs -->
<script src="dist/js/employee_config.js"></script>
{{end}}